/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

json-rpc-simulator-root{
    display: block !important;
}

json-rpc-simulator-home{
    width:100%;
}
json-rpc-simulator-add-api{
    width:100%;
}