<div fxLayout="column">
    <section class="add-api" style="padding:0 16px;" fxLayout="column">

        <h4>Add request</h4>
        <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Object</mat-label>
                <input matInput placeholder="Enter object name">
                <mat-hint align="end">names separated with .</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Select an method</mat-label>
                <mat-select>
                    <mat-option *ngFor="let method of methods | keyvalue" value="method.key">{{method.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="16px">
            <mat-form-field appearance="outline" fxFlex="50">
                <mat-label>Interval</mat-label>
                <input matInput placeholder="Enter Interval" type="number">
                <mat-hint align="end">milliseconds</mat-hint>
            </mat-form-field>
            
        </div>
        <mat-slide-toggle >Repeat responses</mat-slide-toggle>

    </section>
    <br>
    <mat-divider></mat-divider>
    <section class="add-response" style="padding: 0 16px;">
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
            <h4>Add responses</h4>
            <button mat-raised-button color="accent" (click)="addResponse()">Add</button>
        </div>
        <mat-nav-list>
        </mat-nav-list>
    </section>
    <mat-divider></mat-divider>
    <section style="padding: 16px;">
        <button mat-raised-button color="primary">Save</button>
    </section>
    
</div>