<h4 mat-dialog-title>Add response</h4>
<div mat-dialog-content fxLayout="column">
    <mat-form-field appearance="outline">
        <mat-label>Select an response type</mat-label>
        <mat-select [(value)]="selectedType">
            <mat-option *ngFor="let type of responseTypeEnum | keyvalue" [value]="type.value">
                {{type.key}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="selectedType === responseTypeEnum.Result" fxLayout="column">
        <mat-form-field appearance="outline">
            <mat-label>Select an response type</mat-label>
            <mat-select [(value)]="selectedResultType">
                <mat-option *ngFor="let resultType of resultTypeEnum | keyvalue" [value]="resultType.value">
                    {{resultType.key}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="selectedResultType === resultTypeEnum.Array">
            <mat-label>Array</mat-label>
            <input matInput placeholder="Enter array">
            <mat-hint align="end">enter values with , separation.</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="selectedResultType === resultTypeEnum.Boolean">
            <mat-label>Select boolean</mat-label>
            <mat-select>
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="selectedResultType === resultTypeEnum.Number">
            <mat-label>Number</mat-label>
            <input matInput placeholder="Enter number" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="selectedResultType === resultTypeEnum.Object">
            <mat-label>Object</mat-label>
            <textarea matInput placeholder="enter object"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="selectedResultType === resultTypeEnum.String">
            <mat-label>String</mat-label>
            <input matInput placeholder="Enter string">
        </mat-form-field>

    </div>

    <div *ngIf="selectedType === 'error'" fxLayout="column" fxFlex>
        <mat-form-field appearance="outline">
            <mat-label>Code</mat-label>
            <input matInput placeholder="Enter code" type="number" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <input matInput placeholder="Enter message" required>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="primary">Ok</button>
</div>